h1{
    font-size: 25px;
    color: darkblue;
}

h2{
    font-size: 19px;
    color: rgba(0, 0, 139, 0.40);
    font-style: italic;
}

h3{
    font-size: 15px;  
}

div[title="customer"]{
    position: static;
    background-color: darkcyan;
    width: 450px;
    border: solid;
    border-color: darkorchid;
    padding: 2px;
    margin: 2px;
    padding-left: 10px;
}

div[title="books"]{
    position: static;
    background-color: darkseagreen;
    width: 450px;
    border: solid;
    border-color: darkviolet;
    padding: 2px;
    margin: 2px;
    padding-left: 10px;
}

div[title="send"]{
    position: static;
    background-color: lightgreen;
    width: 450px;
    border: solid;
    border-color: greenyellow;
    padding: 2px;
    margin: 2px;
    text-align: center;
    padding-left: 10px;
}