:root{
    --main-banner-navigation-button-color: white;
    --concept-bckg-services-color: #202b30;
}
.navigation{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    justify-content: space-around;
    padding: 30px 0;
}
@media(max-width: 415px){
    .navigation{
        flex-direction: column;
        background-color: var(--concept-bckg-services-color);
        padding: 15px 0 5px;
        text-align: center;
    }
}
.navigation__logo{
    height: 40px;
}
@media(max-width: 415px){
    .navigation__logo{
        height: 30px;
        margin: 0 auto;
    }
}
.navigation__items{
    display: flex;
    margin: 0;
    padding: 0;
}
.js-navigation-mobile{
    display: none;
}
@media(max-width: 415px){
    .navigation__items{
        display: none;
    }
}
@media(max-width: 415px){
    .js-navigation-mobile{
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }
    }
@media(max-width: 415px){
        .js-navigation-mobile{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--main-banner-navigation-button-color);
        flex-direction: column;
        justify-content: top;
        text-align: left;
        }
        .navigation__mobile-back{
            display: flex;
            border-bottom: 1.2px rgba(190, 190, 190, 0.699) solid;
            padding: 15px;
        }
        .navigation__mobile-img-back{
            padding-right: 15px;
        }
        /* .navigation__mobile--link-back{
            margin: 0 auto;
        } */
        .navigation__mobile-link-back, .navigation__item-link-mobile{
            text-decoration: none;
            text-transform: capitalize;
            color: rgb(190, 190, 190);
        }
        
        .navigation__mobile-link-back{
           border-left: 1.2px rgba(190, 190, 190, 0.699) solid; 
           padding: 15px 50px;
        }
        .navigation__items-mobile{
            margin: 0;
            padding: 0;
        }
        .navigation__item-mobile{
            list-style: none;
            padding: 15px 30px;
            border-bottom: 1.2px rgba(190, 190, 190, 0.699) solid; ;
        }
        .navigation__item-link-mobile-home{
            color: rgb(81, 81, 81);
        }
        .navigation__item-mobile-home{
            background-color: rgba(190, 190, 190, 0.399);
        }
}

@media(max-width: 415px){
    .js-navigation__mobile-open{
        height: 100vh;
        display: unset;
        pointer-events: unset;
        opacity: 1;
}}
.navigation__item{
    list-style: none;
    text-transform: capitalize; 
    margin-left: 30px;
}
.navigation__item-link{
    text-decoration: none;
    color: var(--main-banner-navigation-button-color);
    padding-bottom: 5px;
    border-bottom: 1px transparent solid;
}
.navigation__item-link:hover{
    border-bottom: 1px var(--main-banner-navigation-button-color) solid;
}
.navigation__button-mobile{
    display: none;
}

@media(max-width: 415px){
    .navigation__button-mobile{
        display: unset;
        width: 100px;
        background: none;
        border: none;
        align-self: flex-end;
    }
    .navigation__button-mobile-img{
        width: 25px;
    }
}